/* Reset some default styles and set a background color */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  color: #444;
  position: relative;
}

/* Style the header and navigation */
header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.logo h1 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  padding: 0;
}

.nav-links li {
  display: inline;
  margin-right: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff6600; /* Change the color on hover */
}
.about-me {
  font-size: 28px; /* Increase font size for heading */
  margin-bottom: 20px;
}
.about-text {
  flex-grow: 1;
  font-family: 'Georgia', serif; /* Use a different elegant font */
}
.about-text p {
  margin-bottom: 20px;
  font-size: 18px; /* Increase font size for elegance */
  line-height: 1.6;
}
.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-img {
  width: 300px; /* Keep the maximum width */
  height: auto;
  margin-right: 20px;
}
.section#about p {
  flex-grow: 1; /* Allow the description to grow and fill available space */
}


/* Style the sections */
.section {
  padding: 2rem;
  background-color: #fff;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.project-1 {
  margin-top: 20px;
  margin-bottom:40px ;
}
.project-2 {
  margin-bottom: 40px;
}
.connect-header {
  margin-bottom: 10px;
}

/* Style the social links with icons */
.social-links {
  display: flex;
  flex-direction: column; /* Arrange links vertically */
  gap: 20px; /* Add spacing between links */
}

/* Style the social links */
.social-link {
  display: flex;
  align-items: center;
}

/* Style the icons */
.social-link i {
  font-size: 24px; /* Adjust the icon size as needed */
  margin-right: 10px; /* Add spacing between the icon and text */
}

/* Style the links */
.social-link a {
  text-decoration: none;
  color: #333; /* Text color */
  transition: color 0.3s;
}

.social-link a:hover {
  color: #0078d4; /* Change color on hover */
}
/* Style the footer */
footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}

